<style>
  #output img{
    height: 6rem;
  }
  #output-launchDiv{
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }
  #output-appHeader{
    display: flex;
    background: #666;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  #output-appLaunchButton{
    position: absolute;
    right: 0.5rem;
  }
  #output-appLaunchButton>span{
    flex: 1;
    display: block;
    font-weight: 600;
    background: rgb(102,191,57);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem rgba(0,0,0,0.5);
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }
  #output-appLaunchButton:hover>span{
    box-shadow: unset;
    transform: translate(.25rem, .25rem);
    background: white;
  }
</style>
<h2>Updates</h2>
<div id="output-appHeader">
  <div>
    <img src="resource/icon.png" alt="logo">
  </div>
  <div>
    <strong>Kahoot Winner</strong>
    <p>Version <span id="output-appVersion">???</span></p>
    <p>Last update check: <span id="output-appUpdate">???</span></p>
  </div>
  <div id="output-launchDiv">
    <div id="output-appLaunchButton"><span>Check for updates</span></div>
  </div>
</div>
<script>
  (async () => {
    const update = document.querySelector("#output-appLaunchButton"),
      versionLabel = document.querySelector("#output-appVersion"),
      updateLabel = document.querySelector("#output-appUpdate"),
      config = await ipcRenderer.invoke("getMetadata");
    if (config.currentApplicationVersion === null) {
      versionLabel.textContent = "(Not installed)"
    } else if (config.currentApplicationVersion === 0) {
      versionLabel.textContent = "Installing...";
    } else {
      versionLabel.textContent = config.currentApplicationVersion;
    }
    if (config.lastApplicationUpdateCheck) {
      updateLabel.textContent = formatDate(new Date(config.lastApplicationUpdateCheck));
    } else {
      updateLabel.textContent = "Never";
    }
    update.addEventListener("click", () => {
      ipcRenderer.invoke("checkAppUpdates").then((data) => {
        if (data === false) {
          updateLabel.textContent = formatDate(new Date(Date.now()));
          createErrorNotice("No updates found", {
            notice: true
          });
          return;
        } else if (data === true) {
          createErrorNotice("Already downloading app");
          return;
        }
        const download = confirm(`Update ${data.version} is available for download. Install now?`);
        if (download) {
          ipcRenderer.invoke("downloadApplication").then(() => {

          });
        }
      });
    });
  })();
</script>
